.section-one{
    background-color: #1f2937;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.header-links{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 10px;
    
}
.header-links,.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
}
.details .content{
    flex: 1;
    flex-wrap: wrap;
    padding: 10px;
}
.image .img{
    border: #f9faf8;
}

button{
    color:#e5e7eb; 
    background-color: dodgerblue;
    padding: 10px;
    border: none;
    border-radius: 12px;
}

/*Section two*/
.section-two{
    text-align: center;
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.media-objects{
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
}

.media-objects .img-content{
    flex-wrap:wrap ;
    flex-basis: 0;
    text-align: center;
}
.media{
    width: min-content;
    align-items: center;
}
.quote{
    background-color: #e5e7eb;
    padding: 100px 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.quote .fav-quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
}

.quote .author{
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}